.main {
    display: flex;
    flex-direction: column;
}

.top-filter {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #fff;
    border-radius: 8px;
}

.sort-by {
    display: flex;
    /* height: 40px; */
}

.sort-label{
    margin: 0;
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.sort-by-select {
    height: 36px;
    padding: 8px 37px 8px 12px;
    margin-bottom: 8px;

    margin-top: 8px;
}

.main-content {
    width: 745px;
    height: 100%;    /* background-color: aqua; */
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
}

.card {
    /* display: flex;
    flex-direction: column; */
    /* padding: 8px; */
    border-radius: 16px;
    background-color: white;
    margin: 8px;
    /* justify-content: start; */
}

.car-data {
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 16px;
}


.image-wrapper {
    width: 100%;
    height: 0%;
    position: relative;
    padding: 0px;
    padding-bottom: 75%;
    /* box-sizing: border-box; */
    background-color: #EFEFEF;
}

.no-image {
    margin-top: auto;
    margin-bottom: auto;
    padding: 4rem;
    justify-self: center;
    background-color: #EFEFEF;
    /* position: absolute; */
    /* left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%); */
}

.car-image {
    width: 100%;
    height: auto;
    margin: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    /* position: absolute; */
    box-sizing: border-box;
}


.car-name {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.car-details {
    font-size: 13px;
    font-weight: 400;
}

.car-pricing {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 16px;
}

.car-price {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.car-emi {
    font-size: 16px;
    font-weight: 700;
}

.car-get-seller-details-btn {
    background-color: #E03012;
    border: none;
    height: 40px;
    border-radius: 6px;
}

.car-get-seller-details-btn>span {
    color: white;
    font-size: 16px;
    font-weight: 500;
}